<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E9ZG1KHTVT"></script>
<script src='/scripts/google.js'></script>

<title>Camera Lens Tutorial</title>

<div id="app">
    <canvas id="canvas"></canvas>
    <div>
        <label>
            Lens thickness
            <input type="range" min="0.1" :max="Math.min(5, lens.r*2)" step="0.1" v-model="lens.d">
        </label>
        <br>
        <label>
            Lens R
            <input type="range" :min="lens.d/2" max="100" step="0.1" v-model="lens.r">
        </label>
        <br>
        <label>
            Number of rays
            <input type="range" min="1" max="1000" stp="1" v-model="rayN">
        </label>
        <br>
        <label v-for="light in lights">
            <input type="checkbox" v-model="light.enabled">
            Show light {{light.color}}
            <br>
        </label>
    </div>
    <div>
        <details>
            <summary>Debug</summary>
            FPS: {{fps}}
        </details>
    </div>

    <h1>Description</h1>
</div>

<script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                scale: 50,
                rayN: 360 * 2,
                lens: {
                    r: 10,
                    d: 0.3,
                    n: 1.5,
                },
                lights: [
                    { x: -3, y: -3, r: 0.1, color: "cyan", enabled: true },
                    { x: -5, y: -3, r: 0.1, color: "yellow", enabled: false },
                    { x: -7, y: -3, r: 0.1, color: "magenta", enabled: false },
                ],
                fps: 0,
            }
        },
        methods: {
            onClick(e) {
            }
        },
        computed: {
            focalLength() {
                return 2 * (this.lens.n - 1) / this.lens.r;
            }
        },
        mounted() {
            //--------------------------------
            // Canvas setup
            //--------------------------------
            const canvas = document.getElementById("canvas");
            canvas.height = 800;
            canvas.width = 1600;
            const ctx = canvas.getContext("2d");

            // Render callback
            let frames = 0;
            let startTime = new Date().getTime();
            const render = () => {
                // Calculate FPS
                frames += 1;
                let endTime = new Date().getTime();
                if (endTime - startTime >= 1000) {
                    this.fps = frames / (endTime - startTime) * 1000;
                    startTime = endTime;
                    frames = 0;
                }

                //================================
                // Canvas drawing
                //================================
                const w = canvas.width;
                const h = canvas.height;
                const cx = canvas.width / 2;
                const cy = canvas.height / 2;

                //--------------------------------
                // Clear canvas
                //--------------------------------
                ctx.reset();
                // ctx.clearRect(0, 0, w, h);

                //--------------------------------
                // Background
                //--------------------------------
                ctx.fillRect(0, 0, w, h);

                //--------------------------------
                // Axes
                //--------------------------------
                ctx.strokeStyle = "white";
                ctx.lineWidth = 0.2;
                // x-axis
                ctx.beginPath();
                ctx.moveTo(0, cy);
                ctx.lineTo(w, cy);
                ctx.stroke();

                // y-axis
                ctx.beginPath();
                ctx.moveTo(cx, 0);
                ctx.lineTo(cx, h);
                ctx.stroke();

                //--------------------------------
                // Lights
                //--------------------------------
                this.lights.forEach((light) => {
                    if (!light.enabled) {
                        return;
                    }

                    const x = cx + light.x * this.scale;
                    const y = cy + light.y * this.scale;
                    const color = light.color;
                    ctx.strokeStyle = color;

                    // Rays
                    ctx.lineWidth = 0.3;
                    for (let i = 0; i < this.rayN; i++) {
                        const r = w + h; // Rough length
                        const theta = 2 * Math.PI * i / this.rayN;
                        ctx.beginPath();
                        ctx.moveTo(x, y);
                        ctx.lineTo(x + r * Math.cos(theta), y + r * Math.sin(theta));
                        ctx.stroke();
                    }

                    // Circle
                    const r = light.r * this.scale;
                    ctx.beginPath();
                    ctx.arc(x, y, r, 0, Math.PI * 2);
                    ctx.fillStyle = color;
                    ctx.fill();
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = "black";
                    ctx.stroke();
                });

                //--------------------------------
                // Lens
                //--------------------------------
                {
                    const r = this.lens.r * this.scale;
                    const theta = Math.acos((this.lens.r - this.lens.d / 2) / this.lens.r);
                    const y = cy;
                    ctx.lineWidth = 1;
                    ctx.strokeStyle = "white";
                    // Left
                    {
                        const x = cx + (this.lens.r - this.lens.d / 2) * this.scale;
                        const startAngle = Math.PI - theta;
                        const endAngle = Math.PI + theta;
                        ctx.beginPath();
                        ctx.arc(x, y, r, startAngle, endAngle);
                        ctx.stroke();
                    }
                    // Right
                    {
                        const x = cx - (this.lens.r - this.lens.d / 2) * this.scale;
                        const startAngle = - theta;
                        const endAngle = theta;
                        ctx.beginPath();
                        ctx.arc(x, y, r, startAngle, endAngle);
                        ctx.stroke();
                    }
                }



                // Next frame
                requestAnimationFrame(render);
            }

            // Rendering bootstrap
            requestAnimationFrame(render);
        },
    }).mount('#app')
</script>